body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #87CEEB;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header nav"
    "main main"
    "pr rs"
    "footer footer";
}
/*header(pic/title) nav (3buttons)*/
nav{
    grid-area: nav;
}
nav ul {
    margin: 0;
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}
a,
a:hover{
  color:white;
}
a:visited{
  color:black;
  text-decoration: none;
}
a{
  color:black;
  text-decoration: none;
  font-weight: bold;
} 
nav ul li {
    list-style: none;
    width: 30%;
    background-color: #00afef;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    flex-direction: row;
    grid-area: nav-li;
   
    
}
#li1{
    margin: 8px;
    grid-area: li1;
}
#li2{
    margin: 8px;
    grid-area: li2;
}
#li3{
    margin: 8px;
    grid-area: li3;
}
#li3 a{
    text-decoration: none;
    color: #000000;
}
#li1 a{
    text-decoration: none;
    color: #000000;
}
.header{
     display: flex;
     /*
    grid-template-columns: .25fr 2.25fr 2.5fr;
    grid-template-areas: "header-img h1 nav-li"; */
    grid-area: header;
    align-items: center;
}
header img {
    height: 100px;
    width: auto;
    grid-area: header-img;
}
header h1 {
    padding-left: -20px;
    padding-top: 10px;
    grid-area: h1;
}
main{
    /* display: grid;
    grid-template-columns: .8fr 1.2fr;
    grid-template-areas: 
    "main-img main-h2"
    "main-img main-li"
    ; */
    grid-area: main;
    display: flex;
    flex-direction: row;
}
main img {
    object-fit: cover;
    margin-right: 20px;
    height: 350px;
    width: 100%;
    max-width: max-content;
    min-width: min-content;
    grid-area: main-img;
}
main h2{
    grid-area: main-h2;
    padding-top: 75px;
    margin-left: 30px;

}

/* li:before - The :before selector inserts something before the content of each selected element(s).
https://www.w3schools.com/cssref/sel_before.asp */
main li{
list-style-type: none;
font-size: 14px;
padding: 4px;
 margin-left: 30px;

}
main ul{
    padding-bottom: 70px;
}
main li:before {
    content: '🍡';
    margin-left: -31px;
    padding-right: 8px;
    grid-area: main-li;
   
}
#pop-race-section{
    grid-area: pr;
}
#refreshed-section{
    grid-area: rs;
}
/* section{
    display:grid;
    grid-area: section;
    grid-template-columns: auto auto;
    grid-template-areas: "race refreshed";
    border-left: 2px solid #87CEEB;
    
    
} */

/* section img{
    grid-area: section-img;
    width: 120%;
} */
#popsicle-race{
    display:flex;
    flex-direction: column;
     /* grid-area: race; 
    grid-template-columns: .25fr 1fr;
    grid-template-areas: "section-img race-h2" "section-img race-p";  */
   
}
/* div#popsicle-race p {
    grid-area: race-p;
    font-size: 14px;
}
div#popsicle-race h2{
    grid-area: race-h2;
    text-align: center;
}
div#refreshed p {
    grid-area: refreshed-p;
    font-size: 14px;
}
div#refreshed h2{
    grid-area: refreshed-h2;
    text-align: center;
}
div#refreshed button{
    display: flex;
    grid-area: refreshed-button;
    justify-content: center;
    align-items: center;
} */
#refreshed{
    display:flex;
    flex-direction: column;
    /* grid-area: refreshed; */
    justify-items: center;
    
}
main, section, footer{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    margin: 4px;
}

.store-button { /* used for store link in "Get refreshed" section */
    width: 25%;
    padding: 10px;
    border-radius: 5px;
    color: #000000;
    background-color: #00afef;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    align-self: center;
}

#contact-main {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas: "h1" 
    "form ";
}

#contact-main h1{
    grid-area: h1;
}
#contact-main form{
    grid-area: form;
    
}
#contact-main input{
    margin-bottom: 10px;
    margin-top: 5px;
    
}
#name{
    width:302px;
}
#contact-main select{
    margin-bottom: 10px;
    margin-top: 5px;
    width: 310px;
    height: 25px;
}
#color{
    width: 310px;
}
#comments{
    width: 500px;
    height: 200px;
    
}
#submit-button{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #00afef;
    font-weight: bold;
    text-align: center;
    border: none;
}
footer{
    grid-area: footer;
}
@media screen and (max-width: 800px) {
    body{
        grid-template-columns: 1fr;
        grid-template-areas: "header"
        "nav"
        "main"
        "pr"
        "rs"
        "footer";
    }
    /* .header{
        display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-template-areas: "header-img h1 h1"
     "li1 li2 li3";
    } */
    nav{
        display: flex;
        justify-content: space-evenly;
        justify-items: flex-end;
        flex-grow: 1;
    }
    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "main-img"
        "main-h2"
        "main-li";
    }
    main h2{
        margin-left: 2px;
        padding-top: 2px;
    }
    main ul li{
        margin-left: 2px;
        padding-top: 2px;
    }
    /* #popsicle-race{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "section-img race-h2"
        "race-p race-p";
    }
    #refreshed{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "refreshed-h2"
        "refreshed-p"
        "refreshed-button";
    } */
    
    
    
}